$stone1: #FFFBD9;
$stone2: #695741;

$limegreen:#5adb22;
$grassgreen:#13824e;

//INFO COLORS
$yellowA: #F5F6CE;
$yellowB: #F2F5A9;
$yellowC: #F5F6CE;

$greenA: #BFFF00;
$greenB: #D0FA58;
$greenC: #E1F5A9;
