@font-face {
    font-family: SonOfTmU;
    src: url(../data/fonts/SonOfTmU.ttf);  
}
@font-face {
    font-family: Vodka;
    src: url(../data/fonts/TheSoulOfVodka.ttf);  
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,400);

