<div class="game-info">
	<div class="game-text">
		<h2>Papadopoulos: The Game</h2>
		<p>Papadopoulos: The Game es un juego de estrategia por turnos en el que podrás desarrollar tu pequeña aldea hasta conseguir una gran ciudad y un poderoso ejército.</p>
		
		<p><strong>Solo podrás realizar una acción por turno así que piensa bien lo que haces.</strong></p>

		<p> Aquí, cada edificio tiene su función, tú deberás elegir qué creas primero, teniendo en cuenta que nuestro enemigo estará siempre al acecho. ¿Elegirás mejorar tu granja para tener mas ingresos? ¿O quizá prefieras desarrollar tu taberna para tener soldados disponibles en caso de ataque? Solo <strong>tú</strong> decides.</p>
		<p><ul>
			<li><strong>Ayuntamiento:</strong> Aquí obtendrás la resistencia de tu ciudad, reflejada como HP. Si llegas a cero perderás. Además es el edificio central de tu ciudad, no podrás tener edificios de mas nivel si no mejoras primero este.</li>
			<li><strong>Taberna:</strong> En la taberna reclutaremos nuestro ejército, aumentando su nivel aumentaremos nuestras fuerzas bélicas.</li>
			<li><strong>Cuartel:</strong> Este edificio aumentará el daño de nuestros soldados. ¡Causarán mas daño a los enemigos! Auténticos vikingos...</li>
			<li><strong>Forja:</strong> La forja aumentará la vida de cada miembro de nuestro ejército. Dando mas posibilidades de que sobrevivan a la batalla.</li>
			<li><strong>Granja:</strong> Con la granja aumentaremos el dinero que ganamos cada turno.</li>
		</ul></p>
		<p>Está bien, muy teórico todo, ¿pero en qué consiste el juego?</p>
		<p>En realidad, es muy simple, como ya os contamos antes, mejora tu ciudad y reduce la resistencia de la ciudad enemiga a cero sin descuidar la tuya. Fácil... ¿O quizá no?</p>
		
		<p>Powered by Antonio y Carlos</p>
	</div>
</div>